* {
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #fcfcfc;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  margin: 0 20%;
  color: #676767;
}

footer p {
  text-align: center;
}

.about {
  margin-bottom: 2em;
  text-align: center;
  color: #676767;
}

.projects {
  margin: 0 auto;
}

.project {
  border-width: 2px;
  border-color: orange;
  border-radius: 1em;
  border-style: solid;
  background-color: white;
  margin: 2em 20% 0;
  padding: 0 15%;
}

.project ul {
  list-style: none;
  padding: 0;
}

.project ul li {
  background-color: orange;
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

.project p.link a {
  color: orange;
  text-decoration: none;
}

.project hr {
  width: 100%;
}

#header-image {
  height: 10rem;
  width: 10rem;
  border-radius: 5rem;
  display: block;
  margin: 5rem auto 0;
}

#social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;
}

#social li {
  margin: .5rem;
}

#social li a {
  text-decoration: none;
  color: orange;
}

#social li a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
}

@media only screen and (min-width: 1395px) {
  .project p.date {
    float: right;
    width: 15ch;
  }

  .project p.link {
    float: left;
    width: 12ch;
  }
}

@media only screen and (min-width: 1130px) {
  .project ul li {
    display: inline-flex;
  }
}

@media only screen and (min-width: 600px) {
  #social li {
    display: inline-flex;
  }
}

@media only screen and (max-width: 1129px) {
  .project ul li {
    margin-bottom: 0.5em;
  }
}
